.menu-item {
flex-basis: 30%;
margin-bottom: 50px;
box-shadow: 0px 0px 10px #999;
padding: 20px;
text-align: center;
}
.menu-item img {
max-width: 100%;

height: auto;
margin-bottom: 20px;
}
.menu-item h3 {
color: #333;
font-size: 24px;
margin-bottom: 10px;
}
.menu-item p {
color: #666;
font-size: 16px;
line-height: 1.5;
}